h1 {
	font-family: Verdana, Geneva, sans-serif;
}

.content {
	border-radius: 5px; 
	background-color:#FFFFFF; 
	padding: 20px;
	max-width:90%; 
	margin: auto;
	display: block;
}

.left > img {
    max-height:80%;
    max-width:70%;
}


.user_info {
	margin-left: 20px;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.perf {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 20px;
	margin-left: 30px;
}

.activity-info {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

.cell {
	background-color:#E3F2FD;
	padding: 20px;
	border-radius: 3px; 
}

.row {
	margin-top: 20px;
}

.title{
    font-size: 20px;
	line-height: 1.42857143;
	color: #333;
}