<!DOCTYPE html>
<html>
<head>
    <title>Double Up, Bro!</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
</head>
<body>
    <div class="container" style="background:#d9d9d9;">
        <p align="right" style="color:#e60000;">Hello, <strong>Chiew Hoon</strong>!</p>

        <img src="../static/img/logo_mindef.png" alt="MINDEF logo" style="margin: auto;display: block;">
        <img src="../static/img/create_event_header.png"  class="img-rounded" alt="Health Promotion and Wellness" style="max-width:90%;margin: auto;display: block;">
        <br>

        <div class='content'>
            <p style="font-size:50px; color:#ffaa00;">Double Up, Bro!</p>
            <br>
            <div class="row">
                <p style="font-size:16px">The most recent event was <b>Exercise A</b>, and here are your men's performance! <a href="#" style="font-size:12px">View previous events</a></p>
                <div class="col-sm-5 left">
                    <div class='activity-info'>
                        <p>
                            Activity: Running <br>
                            Number of participants: 88 <a href="#">View all</a> <br>
                            Best performance: 9 mins 58 secs by <a href="#">Fit Frank</a> <br>
                            Worst peformance: 17 mins 24 secs by <a href="#">CMI</a>
                        </p>
                    </div>
                </div>

                <div class="col-sm-7">
                    <canvas id="demographicsChart" height="70" width="100"></canvas>
                </div>
            </div>
        </div>
        <br>
    </div>



    <script>
    var ctx = document.getElementById("demographicsChart");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Red", "Blue", "Yellow"],
            datasets: [{
                data: [300, 50, 100],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
        },
        options: {
            title: {
                display: true,
                text: ''
            }
        }
    });
    </script>
</body>
