<!DOCTYPE html>
<html lang="en">
<head>
  <title>Double Up, Bro!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container" style="background:#d9d9d9;">
        <p align="right" style="color:#e60000;">Hello, <strong>Chiew Hoon</strong>!</p>

        <img src="../static/img/logo_mindef.png" alt="MINDEF logo" style="margin: auto;display: block;">
        <img src="../static/img/create_event_header.png"  class="img-rounded" alt="Health Promotion and Wellness" style="max-width:90%;margin: auto;display: block;">
        <br>

        
        <form class='content'>
          <h1 style="color:#ffaa00;">Create Event</h1>
          <p style="color:white;">Please enter the event information below.</p> 
          <br>
          <div style="border-radius: 5px; background-color:#b3b3b3; padding: 20px; max-width:90%; margin: auto;display: block;">
            <h2 style="color:#e60000;"> Essential Information*: </h2>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_name" style="color:black;">Event Name:</label>
              <input type="text" class="form-control" id="event_name" placeholder="Event name">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_date" style="color:black;">Event Date:</label>
              <input type="date" class="form-control" id="event_date">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_start_time" style="color:black;">Event Start Time:</label>
              <input type="time" class="form-control" id="event_start_time">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_end_time" style="color:black;">Event End Time:</label>
              <input type="time" class="form-control" id="event_end_time">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_loc" style="color:black;">Event Location:</label>
              <input type="text" class="form-control" id="event_loc" placeholder="Where will the event be held?">
            </div>
          </div>
          
          <br>

          <div style="border-radius: 5px; background-color:#b3b3b3; padding: 20px; max-width:90%; margin: auto;display: block;">
            <h2 style="color:#e60000;"> More information about the event: </h2>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="organizers" style="color:black;">Organizers:</label>
              <input type="text" class="form-control" id="organizers" placeholder="Who is organizing the event?">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_type" style="color:black;">Event Type:</label>
              <input type="text" class="form-control" id="event_type" placeholder="What kind of event is it? (Hint: Mass Exercise, Health Talk, etc.)">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_description" style="color:black;">Event Description:</label>
              <textarea  class="form-control" rows="3" id="event_description" placeholder="More about the event..."></textarea>
            </div>
          </div>
          <br>

          <div style="border-radius: 5px; background-color:#b3b3b3; padding: 20px; max-width:90%; margin: auto;display: block;">
            <h2 style="color:#e60000;"> More information about the target group: </h2>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="target_participants" style="color:black;">Target Participants:</label>
              <input type="text" class="form-control" id="target_participants" placeholder="Who are expected to participate in the event?">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="event_masters" style="color:black;">Event Masters:</label>
              <input type="text" class="form-control" id="event_masters" placeholder="Who is in charge of the event?">
            </div>
            <div class="form-group" style="max-width:90%; margin: auto;display: block;">
              <label for="special_note" style="color:black;">Special Notes:</label>
              <input type="text" class="form-control" id="event_masters" placeholder="Anything else you want to note down?">
            </div>
          </div>
          <br>

          <button type="submit" class="btn btn-default" style="max-width:90%;">Save</button>
          <button type="submit" class="btn btn-default" style="max-width:90%;">Submit</button>
        </form>
      <br>
    </div>



  </body>
  </html>
